@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');


body{
    font-family: 'Dosis', sans-serif;
    background: url("https://www.ftd.com/blog/content/uploads/2019/10/anniversary-cards-flowers-2.jpg");
    background-size: 100% 100%;
}

section{
    width: 500px;
    background-color: rgb(165, 144, 247);
    margin: auto;
    padding: 10px 0;
}    
div{
    text-align: center;
}

label{
    font-weight: bold;
}

input, textarea {
    margin: 10px;
}


p,
input[type="text"],
input[type="number"],
textarea,
form {
    width: 350px;
    padding: 8px;
}
p, form{
    margin: auto;
}


input[type="submit"]{
    display: block;
    background-color: rgb(141, 5, 69);
    color: white;
    margin: auto;
    width: 150px;
    padding: 10px;
    border-color: rgb(128, 255, 0);
    border-radius: 10px;
    font-weight: bold;
}

input[type="checkbox"]{
    margin-left: 5px;
    margin-right: 5px;
}